# Order is important. The last matching pattern has the most precedence.

* @olblak

jenkins-wiki-exporter/ @halkeye
jenkins-wiki-exporter.yaml @halkeye

reports/ @timja
reports.yaml @timja

plugin-site/ @jenkins-infra/plugin-site
plugin-site.yaml @jenkins-infra/plugin-site

jenkinsio/ @timja
jenkinsio.yaml @timja

javadoc/ @timja
javadoc.yaml @timja

chatbot_jenkinsadmin/ @timja @slide
chatbot_jenkinsadmin.yaml @timja @slide