# Order is important. The last matching pattern has the most precedence.

* @olblak

jenkins-wiki-exporter/ @halkeye
reports/ @timja
plugin-site/ @jenkins-infra/plugin-site
jenkins.io/ @timja
javadoc/ @timja
