# Order is important. The last matching pattern has the most precedence.

* @jenkins-infra/jenkins-infra-sre-team

plugin-site.yaml @jenkins-infra/kubernetes @jenkins-infra/plugin-site
plugin-site-issues.yaml @jenkins-infra/kubernetes @jenkins-infra/plugin-site
