ingress:
  enabled: true
  annotations:
    "cert-manager.io/cluster-issuer": "letsencrypt-prod"

    "nginx.ingress.kubernetes.io/ssl-redirect": "true"
    "nginx.ingress.kubernetes.io/enable-cors": "true"
  className: public-nginx
  hosts:
    - host: customize.jenkins.io
      paths:
        - path: /
  tls:
    - secretName: customize-tls
      hosts:
        - customize.jenkins.io
image:
  tag: "0.0.5"
  pullPolicy: IfNotPresent
