# Default values for keycloak.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths: []
  ingressClassName: private-ingress
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local
