name: "Bump `artifact-caching-proxy` helm chart version"

scms:
  default:
    kind: github
    spec:
      user: "{{ .github.user }}"
      email: "{{ .github.email }}"
      owner: "{{ .github.owner }}"
      repository: "{{ .github.repository }}"
      token: "{{ requiredEnv .github.token }}"
      username: "{{ .github.username }}"
      branch: "{{ .github.branch }}"

sources:
  lastChartVersion:
    kind: helmchart
    name: get last chart version
    spec:
      url: https://jenkins-infra.github.io/helm-charts
      name: artifact-caching-proxy

targets:
  updateChartVersion:
    name: "Update the chart version for artifact-caching-proxy"
    kind: file
    scmid: default
    spec:
      files:
        - clusters/doks-public.yaml
        - clusters/eks-public.yaml
        - clusters/prodpublick8s.yaml
      matchpattern: 'chart: jenkins-infra\/artifact-caching-proxy((\r\n|\r|\n)(\s+))version: .*'
      replacepattern: 'chart: jenkins-infra/artifact-caching-proxy${1}version: {{ source "lastChartVersion" }}'

pullrequests:
  default:
    kind: github
    scmid: default
    title: Bump `artifact-caching-proxy` helm chart version to {{ source `lastChartVersion` }}
    spec:
      labels:
        - dependencies
        - artifact-caching-proxy
