name: "Bump `artifact-caching-proxy` helm chart version"

scms:
  default:
    kind: github
    spec:
      user: "{{ .github.user }}"
      email: "{{ .github.email }}"
      owner: "{{ .github.owner }}"
      repository: "{{ .github.repository }}"
      token: "{{ requiredEnv .github.token }}"
      username: "{{ .github.username }}"
      branch: "{{ .github.branch }}"

sources:
  lastChartVersion:
    kind: helmchart
    name: get last chart version
    spec:
      url: https://jenkins-infra.github.io/helm-charts
      name: artifact-caching-proxy

targets:
  updateChartVersion:
    name: "Update the chart version for artifact-caching-proxy"
    kind: yaml
    spec:
      files:
        # TODO: uncomment once ACP is installed here
        # - clusters/cijioagents1.yaml
        - clusters/cijioagents2.yaml
      engine: yamlpath
      key: $.releases[?(@.name == 'artifact-caching-proxy')].version
    scmid: default

actions:
  default:
    kind: github/pullrequest
    scmid: default
    title: Bump `artifact-caching-proxy` helm chart version to {{ source `lastChartVersion` }}
    spec:
      labels:
        - dependencies
        - artifact-caching-proxy
