title: Bump autoscaler helm chart version

scms:
  default:
    kind: github
    spec:
      user: "{{ .github.user }}"
      email: "{{ .github.email }}"
      owner: "{{ .github.owner }}"
      repository: "{{ .github.repository }}"
      token: "{{ requiredEnv .github.token }}"
      username: "{{ .github.username }}"
      branch: "{{ .github.branch }}"

sources:
  lastChartVersion:
    kind: helmChart
    spec:
      url: https://kubernetes.github.io/autoscaler
      name: cluster-autoscaler

targets:
  updateChartVersion:
    name: "autoscaler/cluster-autoscaler Helm Chart"
    kind: file
    spec:
      file: clusters/cik8s.yaml
      matchPattern: 'chart: autoscaler\/cluster-autoscaler((\r\n|\r|\n)(\s+))version: .*'
      replacePattern: 'chart: autoscaler/cluster-autoscaler${1}version: {{ source `lastChartVersion` }}'

pullrequests:
  default:
    kind: github
    scmID: default
    targets:
      - updateChartVersion
