name: Bump aws-node-termination-handler helm chart version

scms:
  default:
    kind: github
    spec:
      user: "{{ .github.user }}"
      email: "{{ .github.email }}"
      owner: "{{ .github.owner }}"
      repository: "{{ .github.repository }}"
      token: "{{ requiredEnv .github.token }}"
      username: "{{ .github.username }}"
      branch: "{{ .github.branch }}"

sources:
  lastChartVersion:
    kind: helmchart
    name: get last chart version
    spec:
      url: https://aws.github.io/eks-charts
      name: aws-node-termination-handler

targets:
  updateChartVersion:
    name: "eks/aws-node-termination-handler Helm Chart"
    kind: file
    scmid: default
    spec:
      files:
        - clusters/cik8s.yaml
        - clusters/eks-public.yaml
      matchpattern: 'chart: eks\/aws-node-termination-handler((\r\n|\r|\n)(\s+))version: .*'
      replacepattern: 'chart: eks/aws-node-termination-handler${1}version: {{ source "lastChartVersion" }}'

pullrequests:
  default:
    kind: github
    scmid: default
    title: Bump `aws-node-termination-handler` helm chart version to {{ source "lastChartVersion" }}
    spec:
      labels:
        - dependencies
        - aws-node-termination-handler
