title: Bump cert-manager helm chart version

scms:
  default:
    kind: github
    spec:
      user: "{{ .github.user }}"
      email: "{{ .github.email }}"
      owner: "{{ .github.owner }}"
      repository: "{{ .github.repository }}"
      token: "{{ requiredEnv .github.token }}"
      username: "{{ .github.username }}"
      branch: "{{ .github.branch }}"

sources:
  lastChartVersion:
    kind: helmChart
    spec:
      url: https://charts.jetstack.io
      name: cert-manager

targets:
  updateChartVersionPublic:
    name: "jetstack/cert-manager Helm Chart"
    kind: file
    scmID: default
    spec:
      file: clusters/prodpublick8s.yaml
      matchPattern: 'chart: jetstack\/cert-manager((\r\n|\r|\n)(\s+))version: .*'
      replacePattern: 'chart: jetstack/cert-manager${1}version: {{ source `lastChartVersion` }}'
    scm:
      github:
        user: "{{ .github.user }}"
        email: "{{ .github.email }}"
        owner: "{{ .github.owner }}"
        repository: "{{ .github.repository }}"
        token: "{{ requiredEnv .github.token }}"
        username: "{{ .github.username }}"
        branch: "{{ .github.branch }}"
  updateChartVersionPrivate:
    name: "jetstack/cert-manager Helm Chart"
    kind: file
    spec:
      file: clusters/temp-privatek8s.yaml
      matchPattern: 'chart: jetstack\/cert-manager((\r\n|\r|\n)(\s+))version: .*'
      replacePattern: 'chart: jetstack/cert-manager${1}version: {{ source `lastChartVersion` }}'

pullrequests:
  default:
    kind: github
    scmID: default
    targets:
      - updateChartVersion
