name: Bump keycloak helm chart version

scms:
  default:
    kind: github
    spec:
      user: "{{ .github.user }}"
      email: "{{ .github.email }}"
      owner: "{{ .github.owner }}"
      repository: "{{ .github.repository }}"
      token: "{{ requiredEnv .github.token }}"
      username: "{{ .github.username }}"
      branch: "{{ .github.branch }}"

sources:
  lastChartVersion:
    kind: helmchart
    name: get last chart version
    spec:
      url: https://codecentric.github.io/helm-charts
      name: keycloak

targets:
  updateChartVersion:
    name: "codecentric/keycloak Helm Chart"
    kind: yaml
    scmid: default
    spec:
      file: clusters/publick8s.yaml
      engine: yamlpath
      key: $.releases[?(@.chart == 'codecentric/keycloak')].version

actions:
  default:
    kind: github/pullrequest
    scmid: default
    title: Bump `keycloak` helm chart version to {{ source "lastChartVersion" }}
    spec:
      labels:
        - dependencies
        - keycloak
