name: Bump datadog helm chart

scms:
  default:
    kind: github
    spec:
      user: "{{ .github.user }}"
      email: "{{ .github.email }}"
      owner: "{{ .github.owner }}"
      repository: "{{ .github.repository }}"
      token: "{{ requiredEnv .github.token }}"
      username: "{{ .github.username }}"
      branch: "{{ .github.branch }}"

sources:
  lastChartVersion:
    kind: helmchart
    name: get last chart version
    spec:
      url: https://helm.datadoghq.com
      name: datadog

targets:
  updateClusters:
    name: "Datadog Helm Chart"
    kind: file
    scmid: default
    spec:
      files:
        - clusters/cik8s.yaml
        - clusters/doks.yaml
        - clusters/prodpublick8s.yaml
        - clusters/temp-privatek8s.yaml
      matchpattern: 'chart: datadog\/datadog((\r\n|\r|\n)(\s+))version: .*'
      replacepattern: 'chart: datadog/datadog${1}version: {{ source "lastChartVersion" }}'

pullrequests:
  default:
    kind: github
    scmid: default
    title: Bump `datadog` helm chart version to {{ source "lastChartVersion" }}
    spec:
      labels:
        - dependencies
        - datadog
