name: Bump datadog helm chart

scms:
  default:
    kind: github
    spec:
      user: "{{ .github.user }}"
      email: "{{ .github.email }}"
      owner: "{{ .github.owner }}"
      repository: "{{ .github.repository }}"
      token: "{{ requiredEnv .github.token }}"
      username: "{{ .github.username }}"
      branch: "{{ .github.branch }}"

sources:
  lastChartVersion:
    kind: helmchart
    name: get last chart version
    spec:
      url: https://helm.datadoghq.com
      name: datadog

targets:
  updateClusters:
    name: "Datadog Helm Chart"
    kind: yaml
    scmid: default
    spec:
      files:
        - clusters/privatek8s-sponsorship.yaml
        - clusters/publick8s.yaml
        - clusters/cijioagents1.yaml
        - clusters/infracijioagents2.yaml
        ## TODO uncomment once cluster is managed
        # - clusters/cijioagents2.yaml
      engine: yamlpath
      key: $.releases[?(@.name == 'datadog')].version

actions:
  default:
    kind: github/pullrequest
    scmid: default
    title: Bump `datadog` helm chart version to {{ source "lastChartVersion" }}
    spec:
      labels:
        - dependencies
        - datadog
