title: Bump datadog helm chart

scms:
  default:
    kind: github
    spec:
      user: "{{ .github.user }}"
      email: "{{ .github.email }}"
      owner: "{{ .github.owner }}"
      repository: "{{ .github.repository }}"
      token: "{{ requiredEnv .github.token }}"
      username: "{{ .github.username }}"
      branch: "{{ .github.branch }}"

sources:
  lastChartVersion:
    kind: helmChart
    spec:
      url: https://helm.datadoghq.com
      name: datadog

targets:
  updateChartVersion:
    name: "Datadog Helm Chart"
    kind: file
    scmID: default
    spec:
      file: clusters/prodpublick8s.yaml
      matchPattern: 'chart: datadog\/datadog((\r\n|\r|\n)(\s+))version: .*'
      replacePattern: 'chart: datadog/datadog${1}version: {{ source `lastChartVersion` }}'

pullrequests:
  default:
    kind: github
    scmID: default
    targets:
      - updateChartVersion
