name: "Bump github-comment-ops Helm Chart Version"

scms:
  default:
    kind: github
    spec:
      user: "{{ .github.user }}"
      email: "{{ .github.email }}"
      owner: "{{ .github.owner }}"
      repository: "{{ .github.repository }}"
      token: "{{ requiredEnv .github.token }}"
      username: "{{ .github.username }}"
      branch: "{{ .github.branch }}"

sources:
  lastChartVersion:
    kind: helmchart
    name: get last chart version
    spec:
      url: https://timja.github.io/github-comment-ops
      name: github-comment-ops

targets:
  updateChartVersion:
    name: "Update the chart version for github-comment-ops"
    kind: file
    spec:
      file: clusters/prodpublick8s.yaml
      matchpattern: 'chart: github-comment-ops\/github-comment-ops((\r\n|\r|\n)(\s+))version: .*'
      replacepattern: 'chart: github-comment-ops/github-comment-ops${1}version: {{ source "lastChartVersion" }}'
    scmid: default

pullrequests:
  default:
    kind: github
    scmid: default
    title: Bump `github-comment-ops` helm chart version to {{ source "lastChartVersion" }}
    spec:
      labels:
        - dependencies
        - github-comment-ops
