name: "Bump github-comment-ops Helm Chart Version"

scms:
  default:
    kind: github
    spec:
      user: "{{ .github.user }}"
      email: "{{ .github.email }}"
      owner: "{{ .github.owner }}"
      repository: "{{ .github.repository }}"
      token: "{{ requiredEnv .github.token }}"
      username: "{{ .github.username }}"
      branch: "{{ .github.branch }}"

sources:
  lastChartVersion:
    kind: helmchart
    name: get last chart version
    spec:
      url: https://timja.github.io/github-comment-ops
      name: github-comment-ops

targets:
  updateChartVersion:
    name: "Update the chart version for github-comment-ops"
    kind: yaml
    spec:
      file: clusters/privatek8s.yaml
      engine: yamlpath
      key: $.releases[?(@.chart == 'github-comment-ops/github-comment-ops')].version
    scmid: default

actions:
  default:
    kind: github/pullrequest
    scmid: default
    title: Bump `github-comment-ops` helm chart version to {{ source "lastChartVersion" }}
    spec:
      labels:
        - dependencies
        - github-comment-ops
