name: "Bump `ipv6-lb-service` helm chart version"

scms:
  default:
    kind: github
    spec:
      user: "{{ .github.user }}"
      email: "{{ .github.email }}"
      owner: "{{ .github.owner }}"
      repository: "{{ .github.repository }}"
      token: "{{ requiredEnv .github.token }}"
      username: "{{ .github.username }}"
      branch: "{{ .github.branch }}"

sources:
  lastChartVersion:
    kind: helmchart
    name: get last chart version
    spec:
      url: https://jenkins-infra.github.io/helm-charts
      name: ipv6-lb-service

targets:
  updateChartVersion:
    name: "Update the chart version for ipv6-lb-service"
    kind: file
    scmid: default
    spec:
      file: clusters/publick8s.yaml
      engine: yamlpath
      key: $.releases[?(@.name == 'ipv6-lb-service')].version

actions:
  default:
    kind: github/pullrequest
    scmid: default
    title: Bump `ipv6-lb-service` helm chart version to {{ source `lastChartVersion` }}
    spec:
      labels:
        - dependencies
        - ipv6-lb-service
