name: "Bump jenkins-additional Helm Chart Version"

scms:
  default:
    kind: github
    spec:
      user: "{{ .github.user }}"
      email: "{{ .github.email }}"
      owner: "{{ .github.owner }}"
      repository: "{{ .github.repository }}"
      token: "{{ requiredEnv .github.token }}"
      username: "{{ .github.username }}"
      branch: "{{ .github.branch }}"

sources:
  lastChartVersion:
    kind: helmchart
    name: get last chart version
    spec:
      url: https://jenkins-infra.github.io/helm-charts
      name: jenkins-additional

targets:
  updateChartVersionPrivate:
    name: "Update the chart version for jenkins-additional"
    kind: file
    spec:
      file: clusters/privatek8s.yaml
      file: clusters/temp-privatek8s.yaml
      matchpattern: 'chart: jenkins-infra\/jenkins-additional((\r\n|\r|\n)(\s+))version: .*'
      replacepattern: 'chart: jenkins-infra/jenkins-additional${1}version: {{ source "lastChartVersion" }}'
    scmid: default

pullrequests:
  default:
    kind: github
    scmid: default
    title: Bump `jenkins-additional` helm chart version to {{ source "lastChartVersion" }}
    spec:
      labels:
        - dependencies
        - jenkins-additional
