name: "Bump jenkins-kubernetes-agents Helm Chart Version"

scms:
  default:
    kind: github
    spec:
      user: "{{ .github.user }}"
      email: "{{ .github.email }}"
      owner: "{{ .github.owner }}"
      repository: "{{ .github.repository }}"
      token: "{{ requiredEnv .github.token }}"
      username: "{{ .github.username }}"
      branch: "{{ .github.branch }}"

sources:
  lastChartVersion:
    kind: helmchart
    name: get last chart version
    spec:
      url: https://jenkins-infra.github.io/helm-charts
      name: jenkins-kubernetes-agents

targets:
  updateChartVersion:
    name: "Update the chart version for jenkins kubernetes agent"
    kind: yaml
    spec:
      files:
        - clusters/privatek8s.yaml
        - clusters/infracijioagents2.yaml
        - clusters/cijioagents2.yaml
      engine: yamlpath
      key: $.releases[?(@.chart == 'jenkins-infra/jenkins-kubernetes-agents')].version
    scmid: default

actions:
  default:
    kind: github/pullrequest
    scmid: default
    title: Bump `jenkins-kubernetes-agents` helm chart version to {{ source "lastChartVersion" }}
    spec:
      labels:
        - dependencies
        - jenkins-kubernetes-agents
