name: "Bump jenkins-infra-keycloak Helm Chart Version"

scms:
  default:
    kind: github
    spec:
      user: "{{ .github.user }}"
      email: "{{ .github.email }}"
      owner: "{{ .github.owner }}"
      repository: "{{ .github.repository }}"
      token: "{{ requiredEnv .github.token }}"
      username: "{{ .github.username }}"
      branch: "{{ .github.branch }}"

sources:
  lastChartVersion:
    kind: helmchart
    name: get last chart version
    spec:
      url: https://jenkins-infra.github.io/helm-charts
      name: keycloak

targets:
  updateChartVersion:
    name: "Update the chart version for jenkins-infra-keycloak"
    kind: file
    spec:
      file: clusters/prodpublick8s.yaml
      matchpattern: 'chart: jenkins-infra\/keycloak((\r\n|\r|\n)(\s+))version: .*'
      replacepattern: 'chart: jenkins-infra/keycloak${1}version: {{ source "lastChartVersion" }}'
    scmid: default

pullrequests:
  default:
    kind: github
    scmid: default
    title: Bump `jenkins-infra-keycloak` helm chart version to {{ source "lastChartVersion" }}
    spec:
      labels:
        - dependencies
        - jenkins-infra-keycloak
