title: "Bump LDAP Helm Chart Version"
sources:
  lastChartVersion:
    kind: helmChart
    spec:
      url: https://jenkins-infra.github.io/public-charts
      name: ldap
targets:
  updateChartVersion:
    name: "Update the chart version for ldap"
    kind: file
    spec:
      file: clusters/publick8s.yaml
      matchPattern: 'chart: jenkins-infra\/ldap((\r\n|\r|\n)(\s+))version: .*'
      replacePattern: 'chart: jenkins-infra/ldap${1}version: {{ source `lastChartVersion` }}'
    scm:
      github:
        user: "{{ .github.user }}"
        email: "{{ .github.email }}"
        owner: "{{ .github.owner }}"
        repository: "{{ .github.repository }}"
        token: "{{ requiredEnv .github.token }}"
        username: "{{ .github.username }}"
        branch: "{{ .github.branch }}"
