name: "Bump plugin-health-scoring Helm Chart Version"

scms:
  default:
    kind: github
    spec:
      user: "{{ .github.user }}"
      email: "{{ .github.email }}"
      owner: "{{ .github.owner }}"
      repository: "{{ .github.repository }}"
      token: "{{ requiredEnv .github.token }}"
      username: "{{ .github.username }}"
      branch: "{{ .github.branch }}"

sources:
  lastChartVersion:
    kind: helmchart
    name: get last chart version
    spec:
      url: https://jenkins-infra.github.io/helm-charts
      name: plugin-health-scoring

targets:
  updateChartVersion:
    name: "Update the chart version for plugin-health-scoring"
    kind: file
    spec:
      file: clusters/publick8s.yaml
      engine: yamlpath
      key: $.releases[?(@.name == 'plugin-health-scoring')].version
    scmid: default

actions:
  default:
    kind: github/pullrequest
    scmid: default
    title: Bump `plugin-health-scoring` helm chart version to {{ source `lastChartVersion` }}
    description: "cc @alecharp"
    spec:
      labels:
        - dependencies
        - plugin-health-scoring
