title: "Bump reports Helm Chart Version"

scms:
  default:
    kind: github
    spec:
      user: "{{ .github.user }}"
      email: "{{ .github.email }}"
      owner: "{{ .github.owner }}"
      repository: "{{ .github.repository }}"
      token: "{{ requiredEnv .github.token }}"
      username: "{{ .github.username }}"
      branch: "{{ .github.branch }}"

sources:
  lastChartVersion:
    kind: helmChart
    spec:
      url: https://jenkins-infra.github.io/helm-charts
      name: reports

targets:
  updateChartVersion:
    name: "Update the chart version for reports"
    kind: file
    spec:
      file: clusters/prodpublick8s.yaml
      matchPattern: 'chart: jenkins-infra\/reports((\r\n|\r|\n)(\s+))version: .*'
      replacePattern: 'chart: jenkins-infra/reports${1}version: {{ source `lastChartVersion` }}'
    scmID: default

pullrequests:
  default:
    kind: github
    scmID: default
    targets:
      - updateChartVersion
    spec:
      labels:
        - dependencies
        - reports
