image:
  tag: 0.0.2
  pullPolicy: IfNotPresent
ingress:
  enabled: true
  className: public-nginx
  annotations:
    "cert-manager.io/cluster-issuer": "letsencrypt-prod"
    "nginx.ingress.kubernetes.io/ssl-redirect": "true"
    "nginx.ingress.kubernetes.io/affinity": "cookie"
  hosts:
    - host: accounts.jenkins.io
      paths:
        - path: /
    - host: accounts.jenkins-ci.org
      paths:
        - path: /
  tls:
    - secretName: accounts-tls
      hosts:
        - accounts.jenkins.io
        - accounts.jenkins-ci.org
replicaCount: 2
resources:
  limits:
    cpu: 2000m
    memory: 1024Mi
  requests:
    cpu: 500m
    memory: 512Mi
