ingress:
  hosts:
    - host: repo.azure.jenkins.io
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: tls-secret
      hosts:
        - repo.azure.jenkins.io

persistence:
  storageClass: managed-csi-premium-retain

nodeSelector:
  agentpool: arm64small
