ingress:
  hosts:
    - host: repo.aws.jenkins.io
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: tls-secret
      hosts:
        - repo.aws.jenkins.io

persistence:
  storageClass: ebs-sc
  ## TODO: find a way to helmfile apply this YAML storageclass definition
  ##########
  # apiVersion: storage.k8s.io/v1
  # kind: StorageClass
  # metadata:
  #   name: ebs-sc
  #   annotations:
  #     storageclass.kubernetes.io/is-default-class: "true" # Don't forget to edit the "gp2" to set this annotation to "false"
  # provisioner: ebs.csi.aws.com
  # volumeBindingMode: WaitForFirstConsumer
  ##########
