persistence:
  enabled: true
  size: 100
  storageClass: managed-csi-premium

nodeSelector:
  kubernetes.io/arch: arm64
  jenkins: ci.jenkins.io
  role: applications

tolerations:
  - key: "ci.jenkins.io/applications"
    operator: "Equal"
    value: "true"
    effect: "NoSchedule"

affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: "app.kubernetes.io/name"
              operator: In
              values:
                - artifact-caching-proxy
        topologyKey: "kubernetes.io/hostname"

# Common values for all nginx-proxies
resources:
  limits:
    cpu: 2
    memory: 4096Mi
  requests:
    cpu: 1
    memory: 2048Mi

replicaCount: 2
