image:
  tag: 2.73.0

nodeSelector:
  kubernetes.io/arch: arm64
  jenkins: ci.jenkins.io
  role: applications

tolerations:
  - key: "ci.jenkins.io/applications"
    operator: "Equal"
    value: "true"
    effect: "NoSchedule"

resources:
  limits:
    # No CPU limit to avoid throttling
    memory: 4096Mi
  requests:
    cpu: 2
    memory: 2048Mi

podSecurityContext:
  runAsUser: 1001 # User 'jenkins'
  runAsGroup: 1001 # Group 'jenkins'
  runAsNonRoot: true

containerSecurityContext:
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL

cachePvc: ci-jenkins-io-maven-cache
#TODO: track with updatecli from https://github.com/jenkins-infra/jenkins-infra/blob/17784f9d822e974154515cddf589eb3beb3a7813/hieradata/common.yaml#L218
javaHome: /opt/jdk-21
mavenMirror:
  enable: true
  # TODO: track with updatecli from jenkins)-infra/kubernetes-management (acp release)
  url: http://k8s-artifact-artifact-3d1949c260-a3739c22ffe2d924.elb.us-east-2.amazonaws.com:8080/
  # TODO: track with updatecli from https://github.com/jenkins-infra/jenkins-infra/blob/production/dist/profile/templates/jenkinscontroller/casc/artifact-caching-proxy.yaml.erb#L14
  mirrorOf: "external:*,!chimera-releases,!chimera-snapshots,!atlassian-public,!org.zowe.sdk,!jitpack.io,!space-maven"
  mirrorId: artifact-caching-proxy
