datadog:
  clusterName: 'publick8s'
  kubelet:
    host:
      valueFrom:
        fieldRef:
          fieldPath: spec.nodeName
    hostCAPath: /etc/kubernetes/certs/kubeletserver.crt
    # Required as of Agent 7.35 because Kubelet certificates in AKS do not have a Subject Alternative Name (SAN) set.
    tlsVerify: false
agents:
  tolerations:
    - key: "kubernetes.io/arch"
      operator: "Equal"
      value: "arm64"
      effect: "NoSchedule"
    - key: "kubernetes.azure.com/mode"
      operator: "Equal"
      value: "system"
      effect: "NoSchedule"
clusterAgent:
  nodeSelector:
    kubernetes.io/arch: arm64
  tolerations:
    - key: "kubernetes.io/arch"
      operator: "Equal"
      value: "arm64"
      effect: "NoSchedule"
    - key: "kubernetes.azure.com/mode"
      operator: "Equal"
      value: "system"
      effect: "NoSchedule"
