{{ readFile "config/ext_jenkins-infra__common.yaml" | fromYaml | setValueAtPath "kubeconfigFileCredential.description" "privatek8s kubeconfig file" | setValueAtPath "kubeconfigFileCredential.secretBytes" "${base64:${KUBECONFIG_PRIVATEK8S}}" | toYaml }}
