geoipupdate:
  update_frequency: 72
podSecurityContext:
  runAsUser: 65534  # User 'nobody'
  runAsGroup: 65534  # Group 'nogroup'
  runAsNonRoot: true
containerSecurityContext:
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 50m
  #   memory: 64Mi

nodeSelector:
  kubernetes.io/arch: arm64
tolerations:
  - key: "kubernetes.io/arch"
    operator: "Equal"
    value: "arm64"
    effect: "NoSchedule"

dataVolume:
  persistentVolumeClaim:
    claimName: geoip-data
