ingress:
  enabled: true
  className: public-nginx
  annotations:
    "cert-manager.io/cluster-issuer": "letsencrypt-prod"
    "nginx.ingress.kubernetes.io/ssl-redirect": "true"
  hosts:
    - host: webhook-github-comment-ops.jenkins.io
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: github-comment-ops-tls
      hosts:
        - webhook-github-comment-ops.jenkins.io

nodeSelector:
  kubernetes.azure.com/agentpool: linuxpool
