ingress:
  enabled: true
  className: public-nginx
  annotations:
    "cert-manager.io/cluster-issuer": "letsencrypt-prod"
    "nginx.ingress.kubernetes.io/ssl-redirect": "true"
  hosts:
    - host: incrementals.jenkins.io
      paths:
        - path: /
  tls:
    - secretName: incrementals-tls
      hosts:
        - incrementals.jenkins.io
