ingress:
  enabled: true
  className: public-nginx
  annotations:
    "cert-manager.io/cluster-issuer": "letsencrypt-prod"
    "nginx.ingress.kubernetes.io/ssl-redirect": "true"
  hosts:
    - host: javadoc.jenkins.io
      paths:
        - path: /
    - host: javadoc.jenkins-ci.org
      paths:
        - path: /
  tls:
    - secretName: javadoc-tls
      hosts:
        - javadoc.jenkins.io
        - javadoc.jenkins-ci.org

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
htmlVolume:
  azureFile:
    secretName: javadoc
    shareName: javadoc
    readOnly: true

replicaCount: 2

nodeSelector:
  kubernetes.io/arch: arm64

tolerations:
    - key: "kubernetes.io/arch"
      operator: "Equal"
      value: "arm64"
      effect: "NoSchedule"
