replicas: 2

ingress:
  enabled: true
  ingressClassName: private-nginx
  annotations:
    "cert-manager.io/cluster-issuer": "letsencrypt-prod"
    "nginx.ingress.kubernetes.io/proxy-body-size": "500m"
    "nginx.ingress.kubernetes.io/affinity": "cookie"
    "nginx.ingress.kubernetes.io/affinity-mode": "persistent"
  rules:
    - host: admin.accounts.jenkins.io
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - admin.accounts.jenkins.io
      secretName: keycloak-cert


extraInitContainers: |
  - name: theme-provider
    image: jenkinsciinfra/keycloak-theme:0.0.1
    imagePullPolicy: IfNotPresent
    command:
      - sh
    args:
      - -c
      - |
        echo "Copying theme..."
        cp -R /jenkins/* /theme
    volumeMounts:
      - name: theme
        mountPath: /theme

extraVolumeMounts: |
  - name: theme
    mountPath: /opt/jboss/keycloak/themes/jenkins

extraVolumes: |
  - name: theme
    emptyDir: {}
resources:
  limits:
    cpu: 1500m
    memory: 2048Mi
  requests:
    cpu: 1500m
    memory: 2048Mi

## Database Setup
# We already have a postgresql database
postgresql:
  enabled: false
extraEnv: |
  - name: PROXY_ADDRESS_FORWARDING
    value: "true"
  - name: JGROUPS_DISCOVERY_PROTOCOL
    value: dns.DNS_PING
  - name: JGROUPS_DISCOVERY_PROPERTIES
    value: 'dns_query={{ include "keycloak.serviceDnsName" . }}'
  - name: CACHE_OWNERS_COUNT
    value: "2"
  - name: CACHE_OWNERS_AUTH_SESSIONS_COUNT
    value: "2"
  - name: KEYCLOAK_STATISTICS
    value: all

extraEnvFrom: |
  - secretRef:
      name: '{{ include "keycloak.fullname" . }}-db'
  - secretRef:
      name: '{{ include "keycloak.fullname" . }}-http'

service:
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9990"
