ingress:
  enabled: true
  className: public-nginx
  annotations:
    "cert-manager.io/cluster-issuer": "letsencrypt-prod"
    "nginx.ingress.kubernetes.io/ssl-redirect": "true"
  hosts:
    - host: plugin-health.jenkins.io
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: plugin-health-scoring-tls
      hosts:
        - plugin-health.jenkins.io

database:
  username: plugin_health
  server: public.postgres.database.azure.com
  name: plugin_health
config:
  github:
    # https://github.com/apps/plugins-health-scoring
    appId: 281243
    appInstallationName: Plugins Health Scoring
