controller:
  replicaCount: 2
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: "app.kubernetes.io/instance"
                operator: In
                values:
                  - private-nginx-ingress
          topologyKey: "kubernetes.io/hostname"
  ingressClass: private-ingress
  service:
    annotations:
      # TODO: track with updatecli - azure-net:vnets.tf/public-vnet-data-tier - https://reports.jenkins.io/jenkins-infra-data-reports/azure-net.json
      service.beta.kubernetes.io/azure-load-balancer-internal-subnet: public-vnet-data-tier
  nodeSelector:
    kubernetes.io/arch: arm64
  tolerations:
    - key: "kubernetes.io/arch"
      operator: "Equal"
      value: "arm64"
      effect: "NoSchedule"
defaultBackend:
  nodeSelector:
    kubernetes.io/arch: arm64
  tolerations:
    - key: "kubernetes.io/arch"
      operator: "Equal"
      value: "arm64"
      effect: "NoSchedule"
