env:
  rssFeed: https://www.jenkins.io/releases.rss
  rssRefreshRate: 1m
  template: |
    {{.Title}}
    {{.Link}}?utm_source=rss2twitter&utm_medium=twitter
  # disables publishing to twitter and sends updates to logger only
  dryMode: false

nodeSelector:
  kubernetes.azure.com/agentpool: linuxpool
