ingress:
  enabled: true
  className: public-nginx
  annotations:
    "cert-manager.io/cluster-issuer": "letsencrypt-prod"
    "nginx.ingress.kubernetes.io/rewrite-target": /
    "nginx.ingress.kubernetes.io/ssl-redirect": "true"
  hosts:
    - host: uplink.jenkins.io
      paths:
        - path: /
  tls:
    - secretName: uplink-tls
      hosts:
        - uplink.jenkins.io
replicaCount: 5
image:
  tag: c7ecad0e5e24bc05ac722418faf844d6a0286620c6316ff712459ecfcc3ee7ce
  pullPolicy: IfNotPresent
