ingress:
  enabled: true
  className: public-nginx
  annotations:
    "cert-manager.io/cluster-issuer": "letsencrypt-prod"
    "nginx.ingress.kubernetes.io/ssl-redirect": "true"
  hosts:
    - host: wiki.jenkins.io
      paths:
        - path: /
          pathType: Prefix
    - host: wiki.jenkins-ci.org
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: wiki-tls
      hosts:
        - wiki.jenkins.io
        - wiki.jenkins-ci.org
resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
replicaCount: 2
image:
  tag: 0.0.12
  pullPolicy: IfNotPresent
