{{ if $.Values.repository.persistentVolume.enabled -}}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ $.Values.repository.name | default (printf "%s-binary" (include "mirrorbits.fullname" .)) }}
  labels:
    data: {{ $.Values.repository.name | default (printf "%s-binary" (include "mirrorbits.fullname" . )) }}
spec:
{{ toYaml .Values.repository.persistentVolume.spec | nindent 2 }}
{{- end -}}
