releases:
    - name: prometheus
      namespace: prometheus
      chart: stable/prometheus
      wait: true
      timeout: 600
      force: true
      atomic: true
      values:
        - "../config/prometheus/values.yaml"
